<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>City Comparison</title>
	<link rel="shortcut icon" href="img/logo.png"/>
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Niconne|Cutive' rel='stylesheet' type='text/css'>
</head>
<body ng-app="city-comp">
	<div class="container" ng-controller = "mainCtrl">
		<div class="heading text-center">
			<h1 class="header">Cities Battle</h1>
		</div>
		<div class="main">
			<div class="row" ng-hide = "filledCity">
				<div class="col-md-6">
					<div class="form-group text-center">
						<label>City 1:</label>
						<input type="text" class="my-input" name="field" ng-model="city1" placeholder="Charlotte,etc..." tabindex="1" autocomplete="off">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group text-center">
						<label>City 2:</label>
						<input type="text" class="my-input1" ng-model="city2" name="field" placeholder="San Francisco,etc..." tabindex="1" autocomplete="off">
					</div>
				</div>
				<div class="footer text-center">
					<p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by Lina!</p>
				</div>
			</div>
			<div class="result" ng-show="filledCity">
				<div class="maps">
					<img class="img-responsive img-thumbnail map" src="{{city1Map}}" alt="city1Map">
					<img class="img-responsive img-thumbnail map" src="https://maps.googleapis.com/maps/api/staticmap?size=640x250&maptype=roadmap\ &markers=size:mid%7Ccolor:red%7C{{city1Basic.name}},{{city1Basic.admin1DivisionCode}}%7C{{city2Basic.name}},{{city2Basic.admin1DivisionCode}}&key=AIzaSyBD1-sGnREhhLAout5UUgMw4CihhLJmGPA" alt="cityMap">
					<img class="img-responsive img-thumbnail map" src="{{city2Map}}" alt="city2Map">
				</div>
				<div class="row cityBasics">
					<div class="col-sm-6 cityRes" id="city1">
						<h2 class="cityName text-center">{{city1Basic.title}}</h2>
						<img class="cityImg img-thumbnail img-responsive" src="{{city1Img}}" alt="city1Img">
						<p class = "population">Population: {{city1Basic.population}} people.</p>
						<p ng-bind-html="renderHtml(city1Info.summary)"></p>
					</div>
					<div class="col-sm-6 cityRes" id="city2">
						<h2 class="cityName text-center">{{city2Basic.title}}</h2>
						<img class="cityImg img-thumbnail img-responsive" src="{{city2Img}}" alt="city1Img">
						<p class = "population">Population: {{city2Basic.population}} people.</p>
						<p ng-bind-html="renderHtml(city2Info.summary)"></p>
					</div>
				</div>
				<div class="row cityStats">
					<h3 class="stat-text text-center">Statistics</h3>
					<div class="col-sm-6">
						<div class="stats" ng-repeat="score in city1Info.categories track by $index">
							<p>{{score.name}}</p>
							<div class="progress">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{percentage(score.score_out_of_10)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage(score.score_out_of_10)}}%;">
									<span>{{percentage(score.score_out_of_10)}}%</span>
								</div>
							</div>
						</div>
						<h4 class="avg-score">Average score: {{average(city1Info.categories)}}%</h4>
					</div>
					<div class="col-sm-6">
						<div class="stats" ng-repeat="score in city2Info.categories track by $index">
							<p>{{score.name}}</p>
							<div class="progress">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{percentage(score.score_out_of_10)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage(score.score_out_of_10)}}%;">
									<span>{{percentage(score.score_out_of_10)}}%</span>
								</div>
							</div>
						</div>
						<h4 class="avg-score">Average score: {{average(city2Info.categories)}}%</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="button text-center">
			<button class="my-btn" ng-show="!filledCity" ng-click="compare()">Compare</button>
			<button class="my-btn" ng-show="filledCity" ng-click="reset()">Reset <i class="fa fa-refresh fa-spin" aria-hidden="true"></i></button>
		</div>
	</div>
</div>





<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/teleport-autocomplete.js"></script>
<script src="js/app.js"></script>
<script src="js/teleport-api.js"></script>
</body>
</html>